In [25]:
import mysql.connector
from mysql.connector import Error 

Connection = mysql.connector.connect(host="localhost",
                                     database="pytest",
                                     user="hemanth",
                                     password="12345")

print(Connection.get_server_info())

8.0.26

In [30]:
Sql_qry = "select * from pytest.monthly_bills;"


cursor = Connection.cursor(dictionary=True)
cursor.execute(Sql_qry)
# get all records
records = cursor.fetchall()

print(records)

[{'Item_id': 1, 'Item_name': 'Shampoo', 'Cost': 200}, {'Item_id': 3, 'Item_name': 'Sope', 'Cost': 100}, {'Item_id': 10, 'Item_name': 'Watch', 'Cost': 500}, {'Item_id': 11, 'Item_name': 'Chain', 'Cost': 1000}, {'Item_id': 16, 'Item_name': 'Sope', 'Cost': 10}, {'Item_id': 80, 'Item_name': 'Chain', 'Cost': 1000}]