In [8]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='pytest',
                                         user='hemanth',
                                         password='12345')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.26
You're connected to database:  ('pytest',)
MySQL connection is closed

In [9]:
 connection = mysql.connector.connect(host='localhost',
                                         database='pytest',
                                         user='hemanth',
                                         password='12345')

sql_select_Query = "select Tech_id,tech_name,cast(tech_date as date) as dates from pytest.tech_list;"
cursor = connection.cursor(dictionary=True)
cursor.execute(sql_select_Query)
# get all records
records = cursor.fetchall()
print("Total number of rows in table: ", cursor.rowcount)

Total number of rows in table:  4

In [10]:
print(records)

[{'Tech_id': 1, 'tech_name': 'python', 'dates': datetime.date(1998, 1, 23)}, {'Tech_id': 2, 'tech_name': 'Javascript', 'dates': datetime.date(1995, 6, 25)}, {'Tech_id': 3, 'tech_name': 'SQL', 'dates': datetime.date(2000, 1, 12)}, {'Tech_id': 5, 'tech_name': 'DS', 'dates': datetime.date(2022, 1, 12)}]

In [12]:
print( [x['dates'] for x in records ])

[datetime.date(1998, 1, 23), datetime.date(1995, 6, 25), datetime.date(2000, 1, 12), datetime.date(2022, 1, 12)]

In [13]:
import pandas as pd

res = pd.DataFrame.from_dict(records)

print(res)

   Tech_id   tech_name       dates
0        1      python  1998-01-23
1        2  Javascript  1995-06-25
2        3         SQL  2000-01-12
3        5          DS  2022-01-12

In [15]:
print(res['dates'])

NameError: name 'false' is not defined

In [7]:
res['TECH_DATE'] = pd.to_datetime(res['TECH_DATE']).dt.date

print(res['TECH_DATE'])

0    1998-01-23
1    1995-06-25
2    2000-01-12
3    2022-01-12
Name: TECH_DATE, dtype: object